
*.sln

*.cache

*.json

*.editorconfig

FirstLab/cs/pureScriptComparison/ConsoleApp1/obj/Debug/net6.0/ConsoleApp1.AssemblyInfo.cs

FirstLab/cs/pureScriptComparison/ConsoleApp1/obj/Debug/net6.0/

*.v5

*.v2

*.vsidx

*.lock

FirstLab/cs/pureScriptComparison/.vs/pureScriptComparison/v17/

*.props

*.targets

FirstLab/cs/pureScriptComparison/ConsoleApp1/bin/Debug/net6.0/
